*{
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'cursiva' ;
    src: url('../fontes/The\ Smile.otf') format('opentype');
}

body{
    min-height: 100vh;
    position: relative;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    margin-bottom: 100px;
    max-width: 100%;
}
header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 3.5em;
}

header p{
    font-size: 1.2em;
}

p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;  
}

.bloco1{
    height: 600px;
}
#margem{
    margin-bottom: 75px;
}

.texto{
    font-family: cursiva, Geneva, Tahoma, sans-serif;
    max-width: 450px;
    font-size: 2em;
    padding: 30px;
    color: rgb(0, 0, 0);  
}

.bloco2{
    height:800px;
}

#frô{
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-position: 100% center;
    background-attachment: fixed;

    margin-bottom: 100px;
}
#posicao1{
    position: absolute;
    top: 1000px;   
}

.textobranco{
    font-family: cursiva, Geneva, Tahoma, sans-serif;
    max-width: 450px;
    font-size: 2em;
    padding: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
}

#papel{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    margin-bottom: 100px;
}
#posicao2{
    position: absolute;
    top: 3180px;   
}

footer{
    background-color: black;
    height: 20px;
    width: 100%;
    color: white;
}